/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  //   font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Poppins", sans-serif;
}
.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

.w-full {
  width: 100%;
}
