<div class="container">
  <section class="row first">
    <div class="department charts">
      <apx-chart
        *ngIf="pieChartOptions"
        [series]="pieChartOptions.series"
        [chart]="pieChartOptions.chart"
        [labels]="pieChartOptions.labels"
        [responsive]="pieChartOptions.responsive"
      ></apx-chart>
    </div>

    <div class="district charts">
      <apx-chart
        *ngIf="districtChartOptions"
        [series]="districtChartOptions.series"
        [chart]="districtChartOptions.chart"
        [xaxis]="districtChartOptions.xaxis"
        [title]="districtChartOptions.title"
      ></apx-chart>
    </div>
  </section>

  <section class="row second">
    <div class="top-paid charts">
      <apx-chart
        *ngIf="topPaidChartOptions"
        [series]="topPaidChartOptions.series"
        [chart]="topPaidChartOptions.chart"
        [xaxis]="topPaidChartOptions.xaxis"
        [title]="topPaidChartOptions.title"
      ></apx-chart>
    </div>

    <div class="lowest-paid charts">
      <apx-chart
        *ngIf="lowestPaidChartOptions"
        [series]="lowestPaidChartOptions.series"
        [chart]="lowestPaidChartOptions.chart"
        [xaxis]="lowestPaidChartOptions.xaxis"
        [title]="lowestPaidChartOptions.title"
      ></apx-chart>
    </div>
  </section>
</div>
