.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  height: 64px;
  background: #3f51b5;
  color: white;

  .logo {
    font-size: 20px;
    font-weight: bold;
  }

  .user-logo {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 8px;
    mat-icon {
      background-color: grey;
      border-radius: 50%;
      padding: 5px;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.main-container {
  height: calc(100vh - 64px); // Subtract toolbar height
}

.sidenav {
  width: 250px;
  background-color: #f4f4f4;
  border-radius: 0;
}

.sidenav-content {
  padding: 16px;
  background-color: #fafafa;
  height: 100%;
}

.mat-expansion-panel {
  background: transparent;
  box-shadow: none;
}

.menu-header-single {
  font-weight: bold;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555;
  margin-bottom: 4px;
  font-size: 1.3rem;

  a.mat-list-item {
    font-size: 24px;
    font-weight: 600;
    border-radius: 0;
    padding-left: 16px;
  }

  mat-icon {
    font-size: 24px;
  }
}

.menu-group {
  padding: 8px 0;
  .menu-header {
    font-weight: bold;
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #555;
    margin-bottom: 4px;
    font-size: 1.1rem;
  }

  .submenu {
    .submenu-item {
      padding-left: 40px;
      font-size: 24px;
      border-radius: 0;
      font-weight: 600;
    }
  }
}
